.documents-card {
  width: 100%;
  overflow: hidden;
}

.documents-card .ant-card-body {
  padding: 24px;
}

@media (max-width: 767px) {
  .documents-card .ant-card-body {
    padding: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .documents-card .ant-card-body {
    padding: 16px;
  }
}

